.home-page {
    background-color: #225db0;
    height: 100vh;
    background-size: cover;
    color: white;
    padding: 15px;
    font-family: "Roboto";
}

.home-head {
    font-size: 25px;
}

.groups {
    color: white;
    text-align: center;
}

.smallcards {
    background-color: white;
    border-radius: 8px;
    border-style: solid;
    margin: 10px;
    padding: 25px;
}

.groups-logo {
    width: 30px;
    height: 30px;
}

.group-text {
    color: black;
}

.topics-page {
    background-color: #225db0;
    background-size: cover;
    color: white;
    padding: 15px;
    font-family: "Roboto";
}

.button {
    text-align: center;
}