.contain {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png");
    background-size: cover;
    height: 100vh;
}

.textbox1 {
    border-style: solid;
    border-width: thick;
    border-color: #48ee59;
	margin-left:100px;
	margin-right:100px;
    background-color: #00000080;
    margin: 20px;
    padding-top: 25px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 25px;
}

.heading {
    color: white;
    font-family: "Bree Serif";
	font-size: 50px;
}