.body-description {
    background-color: #1b1b1b;
    padding: 12px;
    background-size: cover;
}

.home-page {
    background-color: #1b1b1b;
    padding: 12px;
    background-size: cover;
}

.popular-head {
    color: white;
    font-family: "Bree Serif";
}

.home-Apj-card {
    background-color: #e6f6ff;
    border-radius: 8px;
    margin: 10px;

}

.Apj-image-home {
    width: 30vw;
    height: 50vh;
}

.text-Apj {
    margin: 15px;
    font-family: "Bree Serif";
}

.wings-head {
    color: #183b56;
    font-weight: bold;
}

.auto-bio {
    font-weight: bold;
    color: #06070d;
}

.arun {
    color: #9aa5b1;
    font-size: 15px;

}

.Recommend-head {
    color: white;
    font-family: "Bree Serif";
}

.img-description {
    width: 100px;
    height: 150px;
    margin: 5px;
}

.books-text {
    color: #ffffff;
    padding: 12px;
    font-family: "Bree Serif";
}

.head-book-description {
    font-size: 20px;
}

.author-description {
    font-size: 15px;
    color: #9aa5b1;
}

.detail-Apj {
    background-color: #1b1b1b;
    background-size: cover;
    padding: 15px;
    text-align: center;
}


.Apj-detail-head {
    color: white;
    text-align: center;
    font-family: "Bree Serif";
}

.Apj-description-img {
    width: 70vw;
    height: 80vh;
    padding-left: 90px;
}

.arun-description {
    color: #9aa5b1;
    font-size: 15px;
    text-align: center;
}

.Apj-description {
    color: #e4e7eb;
    font-family: "Bree Serif";
}

.button {
    margin: 5px;
}