.container12 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    background-size: cover;
    height: 100vh;
}

.order-card {
    background-color: #f6c56e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    color: #323f4b;
}

.main-heading {
    font-family: "Bree Serif";
}

.para1 {
    font-family: "Roboto";
}

.button1 {
    background-color: #ffffff;
    font-family: "Roboto";
    border: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}