.myprojects-img {
    width: 300px;
    height: 200px;
}

.text-description {
    text-align: center;
    font-family: "Bree Serif";
}

.projects-head {
    color: #183b56;
}

.projects-description {
    color: #616e7c;
    font-size: 15px;
    padding: 10px;
}

.home-smallcards {
    width: 150px;
    height: 100px;
    margin: 8px;
}

.bg-image {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 100vh;
    background-size: cover;
}

.card-container {
    background-color: #ffffff;
    font-family: "Bree Serif";
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 15px;
}

.heading-text {
    color: #5752ab;
    font-size: 25px;

}

.para1 {
    color: #323f4b;
}

.button1 {
    font-family: "Roboto";
    background-color: #ffffff;
    border-color: #d7dfe9;
    font-size: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 5px;
}

.button2 {
    font-family: "Roboto";
    color: white;
    background-color: #5752ab;
    border-color: #d7dfe9;
    font-size: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.bg1-image {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    background-size: cover;
    height: 100vh;
}

.cricket-card {
    background-color: #ffffff;
    padding: 25px;
    font-family: "Roboto";
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.head1 {
    color: #7b8794;
    font-size: 15px;
}

.head2 {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #323f4b;
    font-size: 18px;
    font-weight: bold;
}

.para {
    color: #7b8794;
}

.button {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    background-color: #323f4b;
}

.container12 {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    background-size: cover;
    height: 100vh;
}

.order-card {
    background-color: #f6c56e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    color: #323f4b;
}

.main-heading {
    font-family: "Bree Serif";
}

.para12 {
    font-family: "Roboto";
}

.button1 {
    background-color: #ffffff;
    font-family: "Roboto";
    border: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 140px;
    border-radius: 9px;
    padding: 16px;
    margin: 15px;
}

.diwali-card-image {
    height: 64px;
    width: 64px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}