.our-sevices-heading {
    font-weight: bold;
    color: #183b56;
    font-family: "Roboto";
}

.service-para {
    color: #616c7c;
    font-size: 20px;
}

.card-image {
    padding: 8px;
    width: 100px;
    height: 100px;
}

.main-heading {
    color: black;
    font-size: 25px;
    font-weight: 500;
}

.sub-heading {
    color: #7b8794;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
}